In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import Binarizer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
import pandas as pd
import numpy as np

In [6]:
X = pd.read_csv("Car_Model.csv")

In [7]:
X.head()

,mpg,Cylinders,displacement,Horsepower,Weight,accelaration,ModelYear,Version,Carname
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [8]:
#Taking y feature
y=X.pop("mpg")

In [9]:
X.describe(include='all')

,Cylinders,displacement,Horsepower,Weight,accelaration,ModelYear,Version,Carname
count,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,150,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [16]:
#X['Horsepower']=X['Horsepower'].replace('?','NaN')
#X.iloc[25:35]
#X['Horsepower']=X['Horsepower'].astype(float)
X['Horsepower'].fillna((X['Horsepower'].mean()), inplace=True)

In [17]:
X.dtypes
#X['Horsepower']=X['Horsepower'].astype(int)

Cylinders         int64
displacement    float64
Horsepower      float64
Weight            int64
accelaration    float64
ModelYear         int64
Version           int64
Carname          object
dtype: object

In [18]:
X.describe(include='all')

,Cylinders,displacement,Horsepower,Weight,accelaration,ModelYear,Version,Carname
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,NaN
std,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055,NaN
min,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,NaN
25%,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000,NaN
50%,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000,NaN
75%,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000,NaN
max,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,NaN

In [19]:
X.describe()

,Cylinders,displacement,Horsepower,Weight,accelaration,ModelYear,Version
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [20]:
#Dropping unwanted features
X=X.drop('Carname',1)

In [21]:
X.describe(include='all')

,Cylinders,displacement,Horsepower,Weight,accelaration,ModelYear,Version
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [23]:
#Regressor model fit
model = RandomForestRegressor(n_estimators=1000,random_state=123)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [24]:
from sklearn import metrics
print("MAE: ",metrics.mean_absolute_error(y_test,y_pred))
print("MSE: ",metrics.mean_squared_error(y_test,y_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE:  1.9224100000000015
MSE:  7.086464465250039
RMSE:  2.662041409379283

In [25]:
from sklearn .preprocessing import StandardScaler
scaled_X=StandardScaler().fit_transform(X)

In [26]:
scaled_X

array([[ 1.49819126,  1.0906037 ,  0.66919608, ..., -1.29549834,
        -1.62742629, -0.71514478],
       [ 1.49819126,  1.5035143 ,  1.58659918, ..., -1.47703779,
        -1.62742629, -0.71514478],
       [ 1.49819126,  1.19623199,  1.19342642, ..., -1.65857724,
        -1.62742629, -0.71514478],
       ...,
       [-0.85632057, -0.56103873, -0.53653371, ..., -1.4407299 ,
         1.62198339, -0.71514478],
       [-0.85632057, -0.70507731, -0.66759129, ...,  1.10082237,
         1.62198339, -0.71514478],
       [-0.85632057, -0.71467988, -0.58895674, ...,  1.39128549,
         1.62198339, -0.71514478]])

In [27]:
X_train,X_test,y_train,y_test=train_test_split(scaled_X,y,test_size=0.2)

In [28]:
model = RandomForestRegressor(n_estimators=1000, random_state=123)
model.fit(X_train, y_train)
y_pred=model.predict(X_test)

In [29]:
print("MAE: ",metrics.mean_absolute_error(y_test,y_pred))
print("MSE: ",metrics.mean_squared_error(y_test,y_pred))
print("RMSE: ",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE:  1.9021512500000042
MSE:  8.897586858874948
RMSE:  2.9828823072449486